@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(46,46,65);
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    // letter-spacing: 0.1em;
}

ul li{
    list-style:none ;
    margin: 0 20px;
    height: 10vh;
    font-family: 'Dancing Script', cursive;
}

ul li a{
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

ul:hover li a{
    transform: scale(2);
    opacity:.2 ;
    filter: blur(2px);
}

ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

ul li a::before{
    content: '';
    background:rgb(184, 57, 57);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: 1s;
}

ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: .5s;
}